.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.bg-blue {
  background-color: blue;
}
.bg-pistachio {
  background-color: #93c572; /* replace with the pistachio color you want to use */
}
.bg-lightPistachio {
    background-image: linear-gradient(79deg,#fcfced, #93c572 60%,#f1fcf7);
}

.App-link {
  color: #61dafb;
}

.search-bar-container {
  /* padding-top: 10vh; */
  width: 40%;
  margin:auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 200px;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }

 
}
